---
import '../components/CardSection.scss'
import SakugaCard from './SakugaCard.astro';
import SakugaSlide from './SakugaSlide.astro';
import Extended from './Extended.astro';
---
<section class="CardSection">
    <div class="CardContainer">
        <div class="bg"></div>
        <SakugaCard/>
        <SakugaSlide/>
    </div>
    <Extended/>
</section>