---
import '../components/Extended.scss'
---
<section class="ExtendedSection">
    <div class="ExtendedText">
        <h1>SAKUGA EXTENDED</h1>
        <p>and allows you to load video previews and see the main tags on the posts, frame step videos, check relevant tags directly on the homepage... You can also play games or customize the settings on the extension's popup page</p>
        <div class="demo-container">
            <video src="./previews.mp4" loop muted autoplay></video>
        </div>
        <a href="https://chromewebstore.google.com/detail/sakuga-extended/khmnmdaghmhkcbooicndamlhkcmpklmc" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-chrome" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M12 9h8.4" /><path d="M14.598 13.5l-4.2 7.275" /><path d="M9.402 13.5l-4.2 -7.275" /></svg>
            GET CHROME EXTENSION
        </a>
    </div>
    <div class="ss-container">
        <img src="./extended.png" alt="screenshoot of sakuga extended">
    </div>
</section>