---
import "../components/Nav.scss";
---

<div class="nav-wrapper">
  <nav>
    <ul>
      <img src="/sakugaboorulogo.png" alt="sakugabooru logo" />
      <div class="blog-cont">
        <div class="blog-button">
          <a
            href="https://blog.sakugabooru.com/"
            class="GlowingButton"
            target="_blank"
          >
            <!-- Overlay -->
            <span class="GlowingButton__overlay"></span>
            <!-- Overlay -->
            <!-- Content -->
            <div class="GlowingButton__content">
              <span>WANT MORE?</span>
              <span>
                <img src="/logo_32px.png" alt="sakugablog svg">
                SAKUGABLOG
              </span>
            </div>
            <!-- /Content -->
          </a>
          <!-- /The Glow Button -->
        </div>
      </div>
    </ul>
  </nav>
</div>
